div.img {
    margin: 8px;
    padding: 8px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #FF0000;
}

div.desc {
    text-align: center;
    font-weight: normal;
    margin: 5px;
}
div.img_selected {
    margin: 8px;
    padding: 8px;
    border: 1px solid #FF0000;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
div.img_selected img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}
div.img_selected a:hover img {
    border:1px solid #0000ff;
}